body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: whitesmoke;
    margin: 0;
}

.contenedor {
    text-align: center;
    position: relative;
    right: 180px;
    top: 30vh;
    
}

.gato {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
    margin: 20px auto;
    background-color: whitesmoke;
    padding: 10px;
    border-radius: 10px;
    position: relative;
    left: 350px;
    bottom: 40vh;
}

.gatos {
    width: 100px;
    height: 100px;
    background-color: pink;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: pink;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}

.partidas span {
    display: block;
    font-size: 18px;
    margin: 5px 0;
}
